<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>app.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%M %L - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="sys.out.log" level="debug" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

</configuration>