<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>GUI</title>
<link rel="stylesheet" href="css/main.css" />
</head>

<body>
	<div id="pagewrap">
		<form action="#" th:action="@{/login}" method="post">
			<div class="imgcontainer">
				<h1>SISTEMA DE TIENDAS DE ABARROTES</h1>
				<img src="images/img_avatar2.png" alt="Avatar" class="avatar" />
			</div>
			<div class="container">
				<label><b>Usuario</b></label> <input type="text"
					placeholder="Introduce usuario" name="name" /> <label><b>Contrase&ntilde;a</b></label>
				<input type="password" placeholder="Introduce contrase&ntilde;a"
					name="password" />
				<button type="submit" style="width: 100%;">Entrar</button>
			</div>
		</form>
	</div>
</body>
</html>

