<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>GUI</title>
<link rel="stylesheet" href="css/main.css" />
</head>

<body>
	<div id="pagewrap">
		<div id="header">
			<div class="imgcontainer">
				<h1>SISTEMA DE TIENDAS DE ABARROTES</h1>
			</div>
			<ul>
				<li><a href="store.html" th:href="@{/store}">Tiendas</a></li>
				<li><a href="statistics.html" th:href="@{/statistics}">Estadisticas</a></li>
				<li><a href="login.html" th:href="@{/index}">Salir</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
