<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>GUI</title>
<meta name="description" content="" />
<link rel="stylesheet" href="../static/css/main.css"
	th:href="@{css/main.css}" />
<script src="../static/js/Chart.bundle.js"
	th:src="@{js/Chart.bundle.js}"></script>
<script src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<style>
canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
</style>
</head>

<body>
	<div id="pagewrap">
		<div id="header">
			<div class="imgcontainer">
				<h1>SISTEMA DE TIENDAS DE ABARROTES</h1>
			</div>
			<ul>
				<li><a href="store.html" th:href="@{/store}">Tiendas</a></li>
				<li><a href="statistics.html" th:href="@{/statistics}">Estadisticas</a></li>
				<li><a href="javascript: document.logoutForm.submit()" role="menuitem">Salir</a></li>
			</ul>
			<form name="logoutForm" th:action="@{/logout}" method="post"
				th:hidden="true">
				<input type="submit" value="Sign Out" />
			</form>
		</div>
		<div id="content">
			<form action="action_page.php">

				<div class="container">
					<h1>Estadisticas</h1>
				</div>
				<div class="container">
					<table style="width: 100%">
						<tr>
							<td><div class="graph">
									<canvas id="presencia"></canvas>
								</div></td>
							<td><div class="graph">
									<canvas id="temperatura_interna"></canvas>
								</div></td>
						</tr>
						<tr>
							<td><div class="graph">
									<canvas id="temperatura_externa"></canvas>
								</div></td>
							<td><div class="graph">
									<canvas id="termostato"></canvas>
								</div></td>
						</tr>
						<tr>
							<td><div class="graph">
									<canvas id="luz"></canvas>
								</div></td>
							<td><div class="graph">
									<canvas id="peso"></canvas>
								</div></td>
						</tr>
					</table>
				</div>
			</form>
		</div>
		<script>
			/*<![CDATA[*/
				
			window.onload = function() {

				drawChart("presencia", "7", "Bomba de Agua", "Estado");
				drawChart("temperatura_interna", "1", "Temperatura Interna","T [°C]");
				drawChart("temperatura_externa", "2", "Temperatura Externa","T [°C]");
				drawChart("peso", "8", "Humedad Tierra 1", "Value");
				drawChart("termostato", "9", "Humedad Tierra 2", "Value");
				drawChart("luz", "5", "Actuador de Luz", "Value");
				
			};


			function drawChart(chartId, sensorId, title, yLabel) {

				var jsonData = $
						.ajax(
								{
									url : 'getChartData?fridge_id=0&sensor_id='
											+ sensorId,
								})
						.done(
								function(results) {

									var randomScalingFactor = function() {
										return Math.round(Math.random() * 100);
										//return 0;
									};
									var randomColorFactor = function() {
										return Math.round(Math.random() * 255);
									};
									var randomColor = function(opacity) {
										return 'rgba(' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + (opacity || '.3') + ')';
									};
									// Create the chart.js data structure using 'labels' and 'data'
									var config_interna = {
										type : 'line',
										data : {
											datasets : [ {
												label : title,
												data : results
											} ]
										},
										options : {
											scales : {
												xAxes : [ {
													type : 'time'
												} ],
												yAxes : [ {
													scaleLabel : {
														display : true,
														labelString : yLabel
													}
												} ]
											}
										}
									};

									$.each(
									config_interna.data.datasets,
									function(i, dataset) {
										dataset.borderColor = randomColor(0.4);
										dataset.backgroundColor = randomColor(0.5);
										dataset.pointBorderColor = 'rgba(76,84,19,0.4)';
										dataset.pointBackgroundColor = randomColor(0.5);
										dataset.pointBorderWidth = 2;
									});

									var ctx = document.getElementById(chartId)
											.getContext("2d");
									window.myLineInterna = new Chart(ctx,
											config_interna);

								});

			}

		
			/*]]>*/
		</script>
	</div>
	<div>
		<a href="statistics.html" th:href="@{/statistics}">Recargar</a>
	</div>
</body>

</html>
