<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>GUI</title>
<meta name="description" content="" />
<link rel="stylesheet" href="../static/css/main.css"
	th:href="@{css/main.css}" />
<script src="../static/js/Chart.bundle.js"
	th:src="@{js/Chart.bundle.js}"></script>
<script src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<style>
canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
</style>
</head>

<body>
	<div id="pagewrap">
		<div id="header">
			<div class="imgcontainer">
				<h1>SISTEMA DE TIENDAS DE ABARROTES</h1>
			</div>
			<ul>
				<li><a href="store.html" th:href="@{/store}">Tiendas</a></li>
				<li><a href="statistics.html" th:href="@{/statistics}">Estadisticas</a></li>
				<li><a href="login.html" th:href="@{/index}">Salir</a></li>
			</ul>
		</div>
		<div id="content">
			<form action="action_page.php">

				<div class="container">
					<h1>Estadisticas</h1>
					<label><b>Tienda: </b></label> <select>
						<option value="volvo">Seleccionar Tienda ....</option>
						<option value="volvo">Todas las tiendas</option>
						<option value="volvo">Queretaro 1</option>
						<option value="volvo">Mexicali super</option>
						<option value="volvo">Aguascalientes</option>
					</select>
					<button type="submit">Generar Estadisticas de energia</button>
				</div>
				<div class="container">
					<table style="width: 100%">
						<tr>
							<td><div class="graph">
									<canvas id="presencia"></canvas>
								</div></td>
							<td><div class="graph">
									<canvas id="temperatura_interna"></canvas>
								</div></td>
						</tr>
						<tr>
							<td><div class="graph">
									<canvas id="temperatura_externa"></canvas>
								</div></td>
							<td><div class="graph">
									<canvas id="termostato"></canvas>
								</div></td>
						</tr>
						<tr>
							<td><div class="graph">
									<canvas id="luz"></canvas>
								</div></td>
							<td></td>
						</tr>
					</table>
				</div>
			</form>
		</div>
		<script>
			/*<![CDATA[*/
			function drawPresenceChart() {

				var jsonData = $
						.ajax(
								{
									url : 'http://localhost:8080/getChartData?fridge_id=0&sensor_id=0',
								})
						.done(
								function(results) {

									var randomScalingFactor = function() {
										return Math.round(Math.random() * 100);
										//return 0;
									};
									var randomColorFactor = function() {
										return Math.round(Math.random() * 255);
									};
									var randomColor = function(opacity) {
										return 'rgba(' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + (opacity || '.3') + ')';
									};
									// Create the chart.js data structure using 'labels' and 'data'
									var config_interna = {
										type : 'line',
										data : {
											datasets : [ {
												label : 'Sensor de Precencia',
												data : results
											} ]
										},
										options : {
											scales : {
												xAxes : [ {
													type : 'time'
												} ],
												yAxes : [ {
													scaleLabel : {
														display : true,
														labelString : 'Estado'
													}
												} ]
											}
										}
									};

									$
											.each(
													config_interna.data.datasets,
													function(i, dataset) {
														dataset.borderColor = randomColor(0.4);
														dataset.backgroundColor = randomColor(0.5);
														dataset.pointBorderColor = 'rgba(76,84,19,0.4)';
														dataset.pointBackgroundColor = randomColor(0.5);
														dataset.pointBorderWidth = 2;
													});

									var ctx = document.getElementById(
											"presencia").getContext("2d");
									window.myLineInterna = new Chart(ctx,
											config_interna);

								});

			};

			function drawInternalTempChart() {

				var jsonData = $
						.ajax(
								{
									url : 'http://localhost:8080/getChartData?fridge_id=0&sensor_id=1',
								})
						.done(
								function(results) {

									var randomScalingFactor = function() {
										return Math.round(Math.random() * 100);
										//return 0;
									};
									var randomColorFactor = function() {
										return Math.round(Math.random() * 255);
									};
									var randomColor = function(opacity) {
										return 'rgba(' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + (opacity || '.3') + ')';
									};
									// Create the chart.js data structure using 'labels' and 'data'
									var config_interna = {
										type : 'line',
										data : {
											datasets : [ {
												label : 'Temperatura Interna',
												data : results
											} ]
										},
										options : {
											scales : {
												xAxes : [ {
													type : 'time'
												} ],
												yAxes : [ {
													scaleLabel : {
														display : true,
														labelString : 'T [°C]'
													}
												} ]
											}
										}
									};

									$
											.each(
													config_interna.data.datasets,
													function(i, dataset) {
														dataset.borderColor = randomColor(0.4);
														dataset.backgroundColor = randomColor(0.5);
														dataset.pointBorderColor = 'rgba(76,84,19,0.4)';
														dataset.pointBackgroundColor = randomColor(0.5);
														dataset.pointBorderWidth = 2;
													});

									var ctx = document.getElementById(
											"temperatura_interna").getContext(
											"2d");
									window.myLineInterna = new Chart(ctx,
											config_interna);

								});

			};

			function drawExternalTempChart() {

				var jsonData = $
						.ajax(
								{
									url : 'http://localhost:8080/getChartData?fridge_id=0&sensor_id=2',
								})
						.done(
								function(results) {

									var randomScalingFactor = function() {
										return Math.round(Math.random() * 100);
										//return 0;
									};
									var randomColorFactor = function() {
										return Math.round(Math.random() * 255);
									};
									var randomColor = function(opacity) {
										return 'rgba(' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + (opacity || '.3') + ')';
									};
									// Create the chart.js data structure using 'labels' and 'data'
									var config_interna = {
										type : 'line',
										data : {
											datasets : [ {
												label : 'Temperatura Externa',
												data : results
											} ]
										},
										options : {
											scales : {
												xAxes : [ {
													type : 'time'
												} ],
												yAxes : [ {
													scaleLabel : {
														display : true,
														labelString : 'T [°C]'
													}
												} ]
											}
										}
									};

									$
											.each(
													config_interna.data.datasets,
													function(i, dataset) {
														dataset.borderColor = randomColor(0.4);
														dataset.backgroundColor = randomColor(0.5);
														dataset.pointBorderColor = 'rgba(76,84,19,0.4)';
														dataset.pointBackgroundColor = randomColor(0.5);
														dataset.pointBorderWidth = 2;
													});

									var ctx = document.getElementById(
											"temperatura_externa").getContext(
											"2d");
									window.myLineInterna = new Chart(ctx,
											config_interna);

								});

			};

			function drawWeightChart() {

				var jsonData = $
						.ajax(
								{
									url : 'http://localhost:8080/getChartData?fridge_id=0&sensor_id=3',
								})
						.done(
								function(results) {

									var randomScalingFactor = function() {
										return Math.round(Math.random() * 100);
										//return 0;
									};
									var randomColorFactor = function() {
										return Math.round(Math.random() * 255);
									};
									var randomColor = function(opacity) {
										return 'rgba(' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + (opacity || '.3') + ')';
									};
									// Create the chart.js data structure using 'labels' and 'data'
									var config_interna = {
										type : 'line',
										data : {
											yLabels : [ 'Big squeeze',
													'Medium squeeze',
													'Light squeeze',
													'Light touch',
													'No pressure' ],
											datasets : [ {
												label : 'Peso',
												data : results
											} ]
										},
										options : {
											responsive : true,
											scales : {
												xAxes : [ {
													type : 'time'
												} ],
												yAxes : [ {
													type : 'category',
													position : 'left',
													display : true,
												} ]
											}
										}
									};

									$
											.each(
													config_interna.data.datasets,
													function(i, dataset) {
														dataset.borderColor = randomColor(0.4);
														dataset.backgroundColor = randomColor(0.5);
														dataset.pointBorderColor = 'rgba(76,84,19,0.4)';
														dataset.pointBackgroundColor = randomColor(0.5);
														dataset.pointBorderWidth = 2;
													});

									var ctx = document.getElementById("peso")
											.getContext("2d");
									window.myLineInterna = new Chart(ctx,
											config_interna);

								});

			};

			function drawThermostateChart() {

				var jsonData = $
						.ajax(
								{
									url : 'http://localhost:8080/getChartData?fridge_id=0&sensor_id=4',
								})
						.done(
								function(results) {

									var randomScalingFactor = function() {
										return Math.round(Math.random() * 100);
										//return 0;
									};
									var randomColorFactor = function() {
										return Math.round(Math.random() * 255);
									};
									var randomColor = function(opacity) {
										return 'rgba(' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + (opacity || '.3') + ')';
									};
									// Create the chart.js data structure using 'labels' and 'data'
									var config_interna = {
										type : 'line',
										data : {
											datasets : [ {
												label : 'Actuador Termostato',
												data : results
											} ]
										},
										options : {
											scales : {
												xAxes : [ {
													type : 'time'
												} ],
												yAxes : [ {
													scaleLabel : {
														display : true,
														labelString : ''
													}
												} ]
											}
										}
									};

									$
											.each(
													config_interna.data.datasets,
													function(i, dataset) {
														dataset.borderColor = randomColor(0.4);
														dataset.backgroundColor = randomColor(0.5);
														dataset.pointBorderColor = 'rgba(76,84,19,0.4)';
														dataset.pointBackgroundColor = randomColor(0.5);
														dataset.pointBorderWidth = 2;
													});

									var ctx = document.getElementById(
											"termostato").getContext("2d");
									window.myLineInterna = new Chart(ctx,
											config_interna);

								});

			};

			function drawLightChart() {

				var jsonData = $
						.ajax(
								{
									url : 'http://localhost:8080/getChartData?fridge_id=0&sensor_id=5',
								})
						.done(
								function(results) {

									var randomScalingFactor = function() {
										return Math.round(Math.random() * 100);
										//return 0;
									};
									var randomColorFactor = function() {
										return Math.round(Math.random() * 255);
									};
									var randomColor = function(opacity) {
										return 'rgba(' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + randomColorFactor()
												+ ',' + (opacity || '.3') + ')';
									};
									// Create the chart.js data structure using 'labels' and 'data'
									var config_interna = {
										type : 'line',
										data : {
											datasets : [ {
												label : 'Actuador de Luz',
												data : results
											} ]
										},
										options : {
											scales : {
												xAxes : [ {
													type : 'time'
												} ],
												yAxes : [ {
													scaleLabel : {
														display : true,
														labelString : ''
													}
												} ]
											}
										}
									};

									$
											.each(
													config_interna.data.datasets,
													function(i, dataset) {
														dataset.borderColor = randomColor(0.4);
														dataset.backgroundColor = randomColor(0.5);
														dataset.pointBorderColor = 'rgba(76,84,19,0.4)';
														dataset.pointBackgroundColor = randomColor(0.5);
														dataset.pointBorderWidth = 2;
													});

									var ctx = document.getElementById("luz")
											.getContext("2d");
									window.myLineInterna = new Chart(ctx,
											config_interna);

								});

			};

			window.onload = function() {
				drawPresenceChart();
				drawInternalTempChart();
				drawExternalTempChart();
				drawThermostateChart();
				drawLightChart();

			};

			/*]]>*/
		</script>
	</div>
	<div>
		<a href="statistics.html" th:href="@{/statistics}">Recargar</a>
	</div>
</body>

</html>
